.center{
	width: 100%;
}
header{
	height: 70px;
}
.fixed{
	height: 70px;
	position: fixed;
	left: 50%;
	margin-left: -50%;
	background-color: #fff;
}
header .logo{
	height: 70px;
	width: 116px;
}
header nav ul li{
	width: 100px;
	height: 70px;
	line-height: 70px;
}
header nav ul li a{
	width: 100px;
	height: 65px;
	line-height: 70px;
}
header nav ul li a:after{
	width: 0px;
	height: 5px;
	bottom: -5px;
}
header .navbar nav{
	display: none;
}
.banner{
	/*空出标准流的位置给导航条*/
	padding-top: 71px;
}
.btns{
	display: none;
}
.circles{
	width: 80px;
    height: 10px;
    bottom: 6px;
    right: 4px;
}
.circles ol li{
	width: 10px;
    height: 10px;
    margin-right: 6px;
}
.works ul li{
	width: 100%;
	height: 260px;
	padding-top: 35px;
}
.works ul li div.pic{
	margin: 30px auto;
	width: 80px;
	height: 80px;
}
.works ul li div.pic:hover{
	transform:translate3d(0px,13px,100px);
}
.works ul li div.text{
	padding: 0px 27px;
	line-height: 20px;
}
.works ul li div.text p{
    height: 50px;
    line-height: 25px;
}
.works ul li div.text h3 a{
	height: 30px;
	line-height: 30px;
}
.works ul li div.text span{
	margin: 10px auto;
	height: 24px;
	width: 80px;
	line-height: 23px;
}
.games{
	padding-bottom: 0px;
	background-color: #fff;
}
.games h2{
	height: 104px;
	line-height: 104px;
}
.games .gamesimg ul li{
	width: 100%;
	height: 53%;
	margin-bottom: 20px;
	padding: 0 10px;
	box-sizing:border-box;
	background-color: #fff;
}
.games span{
	margin: 10px auto 0px auto;
	height: 32px;
	width: 166px;
	line-height: 32px;
}
.more h2{
	height: 150px;
	line-height: 150px;
}
.more ul li{
	width: 100%;
	height: 400px;
}
.more ul li div.pic{
	margin: 0px auto 40px auto;
	width: 145px;
	height: 145px;
}
.more ul li div.text{
	line-height: 20px;
	padding: 0px 27px;
}
.more ul li div.text p{
 	height: 75px;
    line-height: 25px;
 }
.more ul li div.text h3 a{
	height: 30px;
	line-height: 30px;
}
.more ul li div.text span{
	height: 25px;
    line-height: 20px;
}
.skills h3{
	height: 64px;
	line-height: 64px;
}
.pro .skills {
    padding: 0px 0px;
    background-color: #fff;
}
.skills>ul>li{
	width: 100%;
	margin-right: 0;
}
.skills>ul>li ul li{
	height: 42px;
	line-height: 42px;
}
.skills>ul>li ul li:nth-child(7),.skills>ul>li ul li:nth-child(8){
	display: none;
}
.skills span{
	height: 28px;
	width: 122px;
	line-height: 28px;
}
.saying{
	width: 100%;
	text-align: center;
	padding: 0;
}
.says h2{
	width: 100%;
	height: 110px;
	line-height: 140px;
}
.says p{
	width: 100%;
    line-height: 30px;
    text-indent: 0em;
    font-size: 22px;
    width: 100%;
}
.says span{
	width: 100%;
	height: 70px;
	line-height: 70px;
}
.contact{
	padding-bottom: 40px;
}
.contact h2{
	height: 55px;
    line-height: 80px;
}
.contact span{
	height: 25px;
    line-height: 53px;
    width: 200px;
}

