html {
  width: 100%;
}

body {
  background: #faf8ef;
  color: #776e65;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

header,
main {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

.title {
  font-size: 56px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
  flex: 1;
}

.score-and-new {
  float: right;
  font-size: 20px;
}

.score-and-new a {
  background: #bbada0;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  height: 37px;
  line-height: 37px;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 8px;
  text-align: center;
  white-space: nowrap;
}

.score-and-new p {
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  display: block;
  text-align: center;
}

.score-and-new p span {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  margin-top: 40px;
  cursor: default;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 320px;
  height: 320px;
  box-sizing: border-box;
  padding: 10px;
  grid-gap: 10px 10px;
}

.grid-cell {
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
}
